# Mengabaikan folder node_modules
predictive-lead-score/node_modules/
mock-server/node_modules/

# Mengabaikan build output dari React
predictive-lead-score/dist/
predictive-lead-score/build/

# Mengabaikan file environment
.env
.env.local
.env.*.local
predictive-lead-score/.env*
mock-server/.env*

# OS files
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*